[build]
base = "frontend"
command = "npm install --include=dev && npm run build"
publish = "dist"

[build.environment]
NODE_VERSION = "20.19.0"
NODE_ENV = "development"
NPM_FLAGS = "--include=dev"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200
[secrets_scanning]
enabled = false
